.hero {
  min-height: calc(100vh - 70px);
  background: linear-gradient(135deg, #554df2, #05a7c4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 0 20px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-search {
  display: flex;
  background: rgba(255, 255, 255, 0.966);
  border-radius: 40px;
  overflow: hidden;
  width: 600px;
  max-width: 90%;
  margin-bottom: 30px;

  opacity: 0;
  animation: fadeUp 0.9s ease forwards;
  animation-delay: 0.5s;
}

.hero-search input {
  flex: 1;
  padding: 14px 20px;
  border: none;
  background: transparent;
  color: #0b1220;
  outline: none;
}

.hero-search input::placeholder {
  color: #666;
}

.hero-search button {
  padding: 14px 26px;
  border: none;
  background: #ffb22c;
  color: #0b1220;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.hero-search button:hover {
  background: #e6a21f;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 24px;
  opacity: 0;
  animation: fadeUp 0.9s ease forwards;
}

.hero h1 span {
  color: #ffb22c;
}

.hero-text {
  font-weight: 500;
  max-width: 600px;
  font-size: 18px;
  margin: 10px auto 40px auto;
  text-align: center;
  line-height: 1.5;
  opacity: 0;
  animation: fadeUp 0.9s ease forwards;
  animation-delay: 0.3s;
}

.hero-actions {
  display: flex;
  gap: 25px;
  opacity: 0;
  animation: fadeUp 0.9s ease forwards;
  animation-delay: 0.7s;
}

.btn-primary {
  background: #ffb22c;
  color: #0b1220;
  padding: 14px 32px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: translateY(-4px) scale(1.03);
}

.btn-outline {
  background: ffb22c;
  border: 2px solid #ffb22c;
  color: rgb(9, 5, 5);
  padding: 14px 32px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #ffb22c;
  color: #0b1220;
}
