.navbar {
  height: 70px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eefffa;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  font-size: 26px;
  font-weight: 700;
  color: #0031b9;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

/* NORMAL NAV ITEMS */
.nav-item {
  color: #000205;
  font-weight: 700; /* bold black */
  text-decoration: none;
  font-size: 17px;
  padding: 8px 14px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

/* HOVER EFFECT FOR NORMAL ITEMS */
.nav-item:hover:not(.register):not(.login) {
  background: #38bdf8; /* same as login */
  color: white;
}

/* REGISTER */
.register {
  border: 2px solid #38bdf8;
  color: #0031b9;
}

/* LOGIN */
.login {
  background: #38bdf8;
  color: #0b1220;
}
