.register-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #6b7cff, #7b5cc9);
  display: flex;
  justify-content: center;
  align-items: flex-start;   
  padding-top: 40px;         
}

.big-card {
  width: 590px !important;
  padding: 34px;  
}

.register-card {
  background: white;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
  padding-top: 28px; 
}

.register-icon {
  font-size: 50px;
  color: #5f72ff;
  margin-bottom: 6px;
  margin-top: -10px; 
}

.register-card h2 {
  margin-bottom: 6px;
  font-size: 30px;
  color: #222;
}
.subtitle {
  font-size: 15px;
  color: #030303;
  margin-bottom: 16px;   
}


.input-group {
  position: relative;
  margin-bottom: 14px;
}

.input-group input {
  width: 100%;
  padding: 14px 16px 12px 44px;
  border-radius: 10px;
  border: 1.5px solid #ddd;
  outline: none;
  font-size: 14px;
}

.input-group input:focus {
  border-color: #5f72ff;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #5f72ff;
  font-size: 16px;
}

.register-card button {
  width: 100%;
  padding: 12px;
  background: #5f72ff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.3s ease;
}

.register-card button:hover {
  background: #4a5df0;
}

.switch-text {
  margin-top: 18px;
  font-size: 14px;
}

.switch-text a {
  color: #5f72ff;
  text-decoration: none;
  font-weight: 600;
}

.switch-text a:hover {
  text-decoration: underline;
}
